body{
font-family: 'Roboto', sans-serif;
color: #434455;
background-color: #ffffff;
font-size: 16px;
line-height: 1.5;
}
img{
   display: block;
}
.container{
   padding-left: 0;
   padding-right: 0 ;
   margin-left: 0;
   margin-right: 0;
}
a{
    text-decoration: none;
}
header{
 border-bottom: 1px solid #e7e9fc;
}
.header{
   display: flex;
   width: 1158px;
   margin: 0 auto;
   padding: 0 15px 0 15px;
}
.nav{
   display: flex;
   align-items: center;

}
.nav-list-menu{
   display: flex;
   gap: 40px;
   padding: 24p 0 24px;
}
 .nav-logo{
    font-family: "Raleway",sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
    color:#4d5ae5;
    margin-right: 76px;
 }
 .nav-logo-studio{
    color: #2e2f42;
 }
 .nav-list{
   display: flex;
   gap: 40px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
 }
 .nav-list:hover,
 .nav-list:focus{
   color: #404bbf;
 }
 .address{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
   letter-spacing: 0.02em;
   font-style: normal;
    color: #434455;
 }
 .address-list{
   display: flex;
   gap: 40px;
   font-weight: 500;
   font-size: 16px;
   line-height: 1.5;
   letter-spacing: 0.02em;
   color:#434455;
 }
 .address-list:hover,
 .address-list:focus{
   color: #404bbf;
 }
 .section-one{
    background-color: #2e2f42;
    color: #fff;
 }
 .section-one-text{
   font-size: 56px;
   line-height: 1.07;
   text-align: center;
   letter-spacing: 0.02em;
   color: #ffffff;
 }
 .section-one-button{
   font-weight: 500;
   font-size: 16px;
   line-height: 1.5;
   letter-spacing: 0.04em;
   cursor: pointer;
   background-color:#4D5AE5 ;
   color: #ffffff;
 }
 .section-one-button:hover,
 .section-one-button:focus{
   background-color: #404BBF;
 }
.section-two{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: #2e2f42;
}
.section-two-h{
   font-weight: 500;
   font-size: 20px;
   line-height: 1.2;
   letter-spacing: 0.02em;
}
.section-two-text{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.our-team{
   background-color: #f4f4fd;
   padding: 120px 0 120px 0 ;
}
.our-team-h{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}
.our-team-list{
   background-color: #ffffff;
}
.our-team-etem{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.our-team-text{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
 .portfolio-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
 }
 .portfolio-h{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
 }
 .portfolio-text{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
 }
 .footer{
    background-color: #2e2f42;
    padding-top: 100px;
    padding-bottom: 100px;
 }
 .footer-logo{
   font-family: "Raleway",sans-serif;
   font-weight: 700;
   font-size: 18px;
   line-height: 1.17;
   letter-spacing: 0.03em;
   text-transform: uppercase;
   display: inline-block;
   margin-bottom: 16px;
   color: #4d5ae5;
 }
 .footer-logo-studio{
   color: #f4f4fd;
 }
 .footer-text{
   min-width: 264px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
 }

